.events{


padding:100px 10%;

color:white;

text-align:center;

background:rgba(0,0,0,0.65);

backdrop-filter:blur(8px);


}




.events h2{


font-size:60px;

letter-spacing:8px;

color:#ff4fd8;

margin-bottom:60px;


}




.event-list{


display:flex;

flex-wrap:wrap;

justify-content:center;

gap:25px;


}




.card{


background:rgba(255,255,255,0.05);

border:1px solid rgba(255,255,255,0.15);

padding:35px 25px;

border-radius:20px;

width:240px;

font-size:18px;

font-weight:bold;

letter-spacing:1px;

transition:.4s;

backdrop-filter:blur(5px);


}




.card:hover{


transform:translateY(-10px);

border-color:#ff4fd8;

box-shadow:0 0 30px rgba(255,79,216,0.35);

color:#ff4fd8;


}





@media(max-width:900px){



.events{


padding:80px 20px;


}



.events h2{


font-size:40px;


}



.card{


width:100%;


}



}