.events{

background:#0b0b0b;
padding:80px 10%;
color:white;
text-align:center;

}


.events h2{

font-size:40px;
color:#ff4fd8;

}



.event-list{

display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;

}


.card{

background:#1f1f1f;
padding:30px;
border-radius:15px;
width:220px;

}