.hero{

min-height:100vh;

display:flex;

align-items:center;

justify-content:center;

text-align:center;

padding:120px 20px;

}


.hero-content{

max-width:900px;

}


.hero-tag{

color:#ff4fd8;

font-size:20px;

letter-spacing:6px;

margin-bottom:25px;

}



.hero h1{

font-size:120px;

line-height:.85;

font-weight:900;

letter-spacing:10px;

}



.hero h2{

margin-top:35px;

font-size:30px;

font-weight:400;

color:#ddd;

}



.hero-buttons{

display:flex;

justify-content:center;

gap:25px;

margin-top:50px;

}



.hero-buttons a{

padding:18px 45px;

border-radius:50px;

background:#ff4fd8;

color:white;

text-decoration:none;

font-weight:bold;

transition:.3s;

}



.hero-buttons a:hover{

transform:scale(1.08);

box-shadow:0 0 30px #ff4fd8;

}



@media(max-width:900px){


.hero h1{

font-size:65px;

}


.hero h2{

font-size:20px;

}



.hero-buttons{

flex-direction:column;

}


}