.music{


padding:100px 10%;


background:rgba(0,0,0,0.65);


backdrop-filter:blur(8px);


color:white;


}





.music-title{


text-align:center;


margin-bottom:60px;


}





.music h2{


font-size:60px;


letter-spacing:8px;


color:#ff4fd8;


margin-bottom:20px;


}





.music-title p{


font-size:20px;


color:#ccc;


margin-top:20px;


}





.sets-container{


display:grid;


grid-template-columns:repeat(2,1fr);


gap:40px;


}





.set{


background:rgba(255,255,255,0.05);


border:1px solid rgba(255,255,255,0.15);


padding:35px;


border-radius:25px;


position:relative;


transition:.4s;


overflow:hidden;


}





.set:hover{


transform:translateY(-10px);


box-shadow:0 0 35px rgba(255,79,216,0.35);


}





/* SET MAIS RECENTE */


.featured{


border:1px solid #ff4fd8;


box-shadow:0 0 25px rgba(255,79,216,0.25);


}





.featured h3{


color:#ff4fd8;


}





.set h3{


font-size:25px;


margin-bottom:15px;


}





.set p{


color:#ccc;


margin-bottom:25px;


line-height:1.6;


}





.badge{


position:absolute;


top:20px;


right:20px;


background:#ff4fd8;


color:white;


padding:8px 15px;


border-radius:20px;


font-size:12px;


font-weight:bold;


letter-spacing:1px;


}





.set iframe{


width:100%;


border-radius:15px;


margin-top:15px;


box-shadow:0 0 20px rgba(255,79,216,0.25);


}





.set iframe:hover{


transform:scale(1.02);


}





iframe{


max-width:100%;


}





@media(max-width:900px){



.music{


padding:80px 20px;


}





.music h2{


font-size:40px;


letter-spacing:5px;


}





.music-title p{


font-size:16px;


}





.sets-container{


grid-template-columns:1fr;


}





.set{


padding:25px;


}





.set h3{


font-size:21px;


}





.set iframe{


height:300px;


}



}