.navbar{

position:fixed;

top:0;

left:0;

width:100%;

padding:25px 10%;

display:flex;

justify-content:space-between;

align-items:center;

z-index:1000;

background:rgba(0,0,0,0.35);

backdrop-filter:blur(10px);

}



.logo{

display:flex;

align-items:center;

gap:15px;

}



.logo span{

font-size:35px;

font-weight:900;

color:#ff4fd8;

letter-spacing:2px;

}



.logo p{

font-size:16px;

font-weight:bold;

letter-spacing:3px;

color:white;

}



.nav-links{

display:flex;

gap:30px;

}



.nav-links a{

color:white;

text-decoration:none;

font-size:16px;

text-transform:uppercase;

letter-spacing:2px;

transition:.3s;

}



.nav-links a:hover{

color:#ff4fd8;

}



@media(max-width:900px){


.navbar{

padding:20px;

}


.logo p{

display:none;

}


.nav-links{

gap:15px;

}


.nav-links a{

font-size:12px;

}


}