.performance{


padding:100px 10%;


background:rgba(0,0,0,0.65);


backdrop-filter:blur(8px);


color:white;


text-align:center;


}





.performance h2{


font-size:60px;


letter-spacing:8px;


color:#ff4fd8;


margin-bottom:20px;


}





.performance p{


font-size:20px;


color:#ccc;


margin-bottom:60px;


}





.videos{


display:grid;


grid-template-columns:repeat(2,1fr);


gap:40px;


}





.video-card{


background:rgba(255,255,255,0.05);


border:1px solid rgba(255,255,255,0.15);


padding:30px;


border-radius:25px;


transition:.4s;


overflow:hidden;


}





.video-card:hover{


transform:translateY(-10px);


box-shadow:0 0 35px rgba(255,79,216,0.35);


border-color:#ff4fd8;


}





.video-card h3{


margin-bottom:25px;


color:#ff4fd8;


font-size:22px;


}





.video-card iframe{


width:100%;


border-radius:15px;


}





.dj-video{


width:100%;


height:500px;


object-fit:cover;


border-radius:15px;


background:black;


box-shadow:0 0 25px rgba(255,79,216,0.25);


}





.video-card iframe,


.dj-video{


transition:.4s;


}





.video-card:hover iframe,


.video-card:hover .dj-video{


transform:scale(1.02);


}





@media(max-width:900px){



.performance{


padding:80px 20px;


}



.performance h2{


font-size:40px;


}



.performance p{


font-size:17px;


margin-bottom:40px;


}



.videos{


grid-template-columns:1fr;


}



.video-card{


padding:20px;


}



.dj-video{


height:400px;


}



}