*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  min-height:100vh;
  font-family:Arial, Helvetica, sans-serif;
  color:white;

  background-image:url("/photos/dj4.jpeg");
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-position: center top;

}

body::before{
  content:"";
  position:fixed;
  inset:0;
  background:rgba(0,0,0,0.55);
  z-index:-1;
}

#root{
  min-height:100vh;
}