* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {

  background-image:
  linear-gradient(
    rgba(0,0,0,0.75),
    rgba(0,0,0,0.85)
  ),
  url("/photos/dj3.jpeg");

  background-size: cover;

  background-position: center;

  background-attachment: fixed;

  background-repeat: no-repeat;

  color: white;

  font-family: Arial, Helvetica, sans-serif;

}


#root {

  min-height: 100vh;

}